# Dependencies
node_modules/
package-lock.json
yarn.lock
 
# Environment files
.env
.env.local
.env.production
 
# Directory for uploaded files
uploads/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

dist
/dist


# Coverage directory
coverage/
.nyc_output/

# MongoDB files
dump/

# Redis files
dump.rdb

# PM2 files
.pm2/